{% if word_fields %}
	{% for field in word_fields %}
		{{ _('wordfield_' + field) | capitalize }}: <input type="text" class="search_input" name="{{ field }}1" id="{{ field }}1"><br>
	{% endfor %}
{% endif %}
{% if sentence_meta and sentence_meta|length > 0 %}
<hr class="separator">
	{% for field in sentence_meta %}
		{% if int_meta_fields and field in int_meta_fields %}
		{{ _('metafield_' + field) | capitalize }}: <input type="number" class="search_input_num" name="sent_meta_{{ field }}_FR1" id="sent_meta_{{ field }}1"> &ndash;<input type="number" class="search_input_num" name="sent_meta_{{ field }}_TO1" id="sent_meta_{{ field }}1"><br>
                {% elif field == 'place_of_birth' %}
		{{ _('metafield_' + field) | capitalize }}: <select class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1">
		<option value="">{{ _('any') }}</option>
		<option value="Рахметово">{{ _('Рахметово (Абзелиловский р-н)') }}</option>
		<option value="Баимово">{{ _('Баимово (Абзелиловский р-н)') }}</option>
		<option value="Старокалмашево">{{ _('Старокалмашево (Чекмагушевский р-н)') }}</option>
                <option value="Кулуево">{{ _('Кулуево (Аргаяшский р-н Челябинской обл.)') }}</option>
		<option value="Нукатово">{{ _('Нукатово (Белорецкий р-н)') }}</option>
                <option value="Даутово">{{ _('Даутово (Абзелиловский р-н)') }}</option>
                <option value="Батталово">{{ _('Батталово (Учалинский р-н)') }}</option>
                <option value="Новомунасипово">{{ _('Новомунасипово (Бурзянский р-н)') }}</option>
                <option value="Яйкарово">{{ _('Яйкарово (Абзелиловский р-н)') }}</option>
		<option value="Еникеево">{{ _('Еникеево (Абзелиловский р-н)') }}</option>
		<option value="Таштимерово">{{ _('Таштимерово (Абзелиловский р-н)') }}</option>
		<option value="Новобалапаново">{{ _('Новобалапаново (Абзелиловский р-н)') }}</option>
		<option value="Верхнебиккузино">{{ _('Верхнебиккузино (Кугарчинский р-н)') }}</option>
		<option value="Магнитогорск">{{ _('Магнитогорск') }}</option>
		<option value="Кумертау">{{ _('Кумертау') }}</option>
		<option value="Белорецк">{{ _('Белорецк') }}</option>
		<option value="Учалы">{{ _('Учалы') }}</option>
		<option value="?">{{ _('неизвестно') }}</option>
		</select><br>
		{% elif field == 'gender' %}
		{{ _('metafield_' + field) | capitalize }}: <select class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1">
		<option value="">{{ _('any') }}</option>
		<option value="M">{{ _('M') }}</option>
		<option value="F">{{ _('F') }}</option>
		</select><br>
                {% elif field == 'native_language' %}
		{{ _('metafield_' + field) | capitalize }}: <select class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1">
		<option value="">{{ _('any') }}</option>
		<option value="татарский">{{ _('Tatar') }}</option>
		<option value="башкирский">{{ _('Bashkir') }}</option>
		</select><br>
                {% elif field == 'education' %}
		{{ _('metafield_' + field) | capitalize }}: <select class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1">
		<option value="">{{ _('any') }}</option>
		<option value="высшее">{{ _('высшее') }}</option>
		<option value="среднее">{{ _('среднее') }}</option>
		<option value="начальное">{{ _('начальное') }}</option>
		<option value="?">{{ _('неизвестно') }}</option>
		</select><br>
                {% elif field == 'speaker' %}
		{{ _('metafield_' + field) | capitalize }}: <select class="search_input" name="sent_meta_{{ field }}1" id="sent_meta_{{ field }}1">
		<option value="">{{ _('any') }}</option>
		<option value="aamB">aamB</option>
		<option value="aga">aga</option>
		<option value="bbm">bbm</option>
		<option value="dhm">dhm</option>
		<option value="fmj">fmj</option>
		<option value="gaj">gaj</option>
		<option value="ggmT">ggmT</option>
		<option value="ggs">ggs</option>
		<option value="gmxB">gmxB</option>
		<option value="grg">grg</option>
		<option value="gru">gru</option>
		<option value="iaj">iaj</option>
		<option value="iim">iim</option>
		<option value="iliB">iliB</option>
		<option value="img">img</option>
		<option value="izg">izg</option>
		<option value="ksg">ksg</option>
		<option value="lba">lba</option>
		<option value="lsm">lsm</option>
		<option value="mfsB">mfsB</option>
		<option value="mjj">mjj</option>
		<option value="mmmT">mmmT</option>
		<option value="mtsB">mtsB</option>
		<option value="nfg">nfg</option>
		<option value="ngg">ngg</option>
		<option value="nsgB">nsgB</option>
		<option value="rgj">rgj</option>
		<option value="rja">rja</option>
		<option value="rkhB">rkhB</option>
		<option value="rmm">rmm</option>
		<option value="rrg">rrg</option>
		<option value="rrm">rrm</option>
		<option value="rsmB">rsmB</option>
		<option value="rtk">rtk</option>
		<option value="rza">rza</option>
		<option value="zdn">zdn</option>
		<option value="zmg">zmg</option>
		</select><br>
		{% endif %}
	{% endfor %}
{% endif %}
{{ _('Analyses: ') }}<select name="n_ana1" id="n_ana1" class="search_input">
{% if ambiguous_analyses %}
<option value="ambiguous">{{ _('only ambiguous') }}</option>
<option value="nonambiguous">{{ _('only non-ambiguous') }}</option>
<option value="analyzed">{{ _('only with analysis') }}</option>
{% else %}
<option value="nonambiguous" selected>{{ _('only with analysis') }}</option>
<option value="any" selected>{{ _('any number of analyses') }}</option>
{% endif %}
<option value="none">{{ _('only without analysis') }}</option>
</select><br>
{{ _('Position in sentence: ') }}<input type="number" name="sentence_index1" id="sentence_index1" value="" placeholder="1" class="search_input distance_input"><br>