<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Устный корпус башкирского языка дер. Рахметово и с. Баимово</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/resume.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/img/favicon.png">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Устный корпус башкирского языка дер. Рахметово и с. Баимово</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/flag.svg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#translit">Транслитерация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#instruction">Как пользоваться корпусом</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="./search">Поиск</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#consist">Состав корпуса</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#authors">Создатели</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contacts">Контакты</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h2 class="mb-0">Устный корпус башкирского языка<br>
            <span class="text-primary">дер. Рахметово и с. Баимово</span>
          </h2>
          <br>
          <br>
          <p class="lead" align="justify">Корпус содержит устные тексты на башкирском языке. Тексты были записаны в 2011–2017 гг. в дер. Рахметово и с. Баимово Абзелиловского р-на респ. Башкортостан. Эти населенные пункты относятся к зоне распространения кубалякского говора башкирского языка, принадлежащего к юго-восточной группе восточных говоров башкирского языка (с некоторыми чертами южных говоров). В целом тексты корпуса близки к литературному башкирскому языку, но имеют некоторые диалектные черты на уровне фонетики и морфонологии.</p>
          <br>
          <a class="btn btn-primary btn-xl js-scroll-trigger btn-main" href="./search">К поиску</a>
          <br>
          <br>

          <table>
            <tr>
              <td><img src="static/img/map1.png" width="425" ></td><td></td><td><img src="static/img/map2.png" height="320"> </td>
            </tr>
          </table>
          

        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="translit">
        <div class="my-auto">
          <h3 class="mb-3">Транслитерация</h3>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <p class="lead">Тексты Устного корпуса башкирского языка записаны расширенной латиницей. Используемая система сочетает черты транслитерации (то есть ориентирована на башкирскую кириллическую орфографию) и транскрипции. Соответствия между башкирской орфографией и используемой системой записи представлены в таблице.</p>

              <table>
                <tr>
                  <td><b>Орфография</b></td><td><b>Транслитерация</b></td><td width="270"><b>Комментарий</b></td>
                  <td><b>Пример</b></td>
                </tr>
                <tr>
                  <td>а</td><td>a</td><td></td><td>ағас = aɣas ‘дерево’</td>
                </tr>
                <tr>
                  <td>б</td><td>b</td><td>w в исконных словах и арабских заимствованиях, v в русских заимствованиях (в соответствии с произношением)</td><td>ваҡыт = waqət ‘время’; вагон = vagon ‘вагон’</td>
                </tr>
                <tr>
                  <td>г</td><td>g</td><td></td><td>иген = igen ‘зерно’</td>
                </tr>
                <tr>
                  <td>ғ</td><td>ɣ</td><td></td><td>ағас = aɣas ‘дерево’</td>
                </tr>
                <tr>
                  <td>д</td><td>d</td><td></td><td>дуҫ = duθ ‘друг’</td>
                </tr>
                <tr>
                  <td>ҙ</td><td>ð</td><td></td><td>ҙур = ður ‘большой’</td>
                </tr>
                <tr>
                  <td>е</td><td>e или je</td><td>e в большинстве случаев; je в начале слова (также в редких случаях в русских заимствованиях после гласной)</td><td>ете = jete ‘семь’</td>
                </tr>
                <tr>
                  <td>ё</td><td>yo</td><td>только в русских заимствованиях (y обозначается мягкость согласного)</td><td>самолёт = samolyot ‘самолёт’</td>
                </tr>
                <tr>
                  <td>ж</td><td>ž</td><td></td><td>хужа = xuža ‘хозяин’</td>
                </tr>
                <tr>
                  <td>з</td><td>z</td><td></td><td>зыян = zəjan ‘ущерб’</td>
                </tr>
                <tr>
                  <td>и</td><td>i</td><td></td><td>инеү = inew ‘входить’</td>
                </tr>
                <tr>
                  <td>й</td><td>j</td><td></td><td>йомортҡа = jomortqa ‘яйцо’</td>
                </tr>
                <tr>
                  <td>к</td><td>k</td><td></td><td>кеше = keše ‘человек’</td>
                </tr>
                <tr>
                  <td>ҡ</td><td>q</td><td></td><td>ҡала = qala ‘город’</td>
                </tr>
                <tr>
                  <td>л</td><td>l</td><td></td><td>ләкин = läkin ‘но’</td>
                </tr>
                <tr>
                  <td>м</td><td>m</td><td></td><td>май = maj ‘масло’</td>
                </tr>
                <tr>
                  <td>н</td><td>n</td><td></td><td>нисек = nisek ‘как’</td>
                </tr>
                <tr>
                  <td>ң</td><td>ŋ</td><td></td><td>тыңлау = təŋlaw ‘слушать’</td>
                </tr>
                <tr>
                  <td>о</td><td>o</td><td></td><td>оҙон = oðon ‘длинный’</td>
                </tr>
                <tr>
                  <td>ң</td><td>ŋ</td><td></td><td>тыңлау = təŋlaw ‘слушать’</td>
                </tr>
                <tr>
                  <td>ө</td><td>ö</td><td></td><td>өй = öj ‘дом’</td>
                </tr>
                <tr>
                  <td>п</td><td>p</td><td></td><td>ҡапыл = qapəl ‘вдруг’</td>
                </tr>
                <tr>
                  <td>р</td><td>r</td><td></td><td>риза = riza ‘согласен’</td>
                </tr>
                <tr>
                  <td>с</td><td>s</td><td></td><td>сығыу = səɣəw ‘выходить’</td>
                </tr>
                <tr>
                  <td>ҫ</td><td>θ</td><td></td><td>үҫеү = üθew ‘расти’</td>
                </tr>
                <tr>
                  <td>т</td><td>t</td><td></td><td>тороу = torow ‘стоять’</td>
                </tr>
                <tr>
                  <td>у</td><td>u или w</td><td>w после гласных, u в остальных случаях</td><td>ҡунаҡ = qunaq ‘гость’; баҫыу = baθəw ‘поле’; ауыл = awəl ‘деревня’</td>
                </tr>
                <tr>
                  <td>ү</td><td>ü или w</td><td>w после гласных, ü в остальных случаях</td><td>үҫеү = üθew ‘расти’</td>
                </tr>
                <tr>
                  <td>ф</td><td>f</td><td></td><td>картуф = kartuf ‘картошка’</td>
                </tr>
                <tr>
                  <td>х</td><td>x</td><td></td><td>хәҙер = xäðer ‘сейчас’</td>
                </tr>
                <tr>
                  <td>һ</td><td>h</td><td></td><td>һыу = həw ‘вода’</td>
                </tr>
                <tr>
                  <td>ц</td><td>c</td><td>в русских заимствованиях</td><td>нация = nacija ‘нация’</td>
                </tr>
                <tr>
                  <td>ч</td><td>č</td><td></td><td>Учалы = Učalə ‘Учалы’</td>
                </tr>
                <tr>
                  <td>ш</td><td>š</td><td></td><td>йәш = jäš ‘возраст’</td>
                </tr>
                <tr>
                  <td>щ</td><td>šč</td><td>в русских заимствованиях</td><td>училище = učilišče ‘училище’</td>
                </tr>
                <tr>
                  <td>ъ</td><td>()</td><td>имеет разделительную функцию</td><td>донъя = donja ‘мир’</td>
                </tr>
                <tr>
                  <td>ы</td><td>ə</td><td>NB: не путать с буквой башкирского алфавита (ә)</td><td>быяла = bəjala ‘стекло’</td>
                </tr>
                <tr>
                  <td>ь</td><td>ʔ или y</td><td>ʔ в башкирских словах, где ь обозначает гортанную смычку; y в русских заимствованиях, где ь обозначает мягкость предшествующего согласного</td><td>Ҡөрьән = Qörʔän ‘Коран’; февраль = fevraly ‘февраль’</td>
                </tr>
                <tr>
                  <td>э</td><td>e</td><td>только в начале слова</td><td>эсеү = esew ‘пить’</td>
                </tr>
                <tr>
                  <td>ә</td><td>ä</td><td></td><td>бүләк = büläk ‘подарок’</td>
                </tr>
                <tr>
                  <td>ю</td><td>ju или jü</td><td>ju или jü в соответствии с произношением (слова переднего или заднего ряда сингармонизма); теоретически должно быть yu в тех русских заимствованиях, где ю обозначает мягкость предшествующего согласных (в текстах не зафиксировано)</td><td>юл = jul ‘дорога’; юкә = jükä ‘липа’</td>
                </tr>
                <tr>
                  <td>я</td><td>ja или ya</td><td>обычно ja; ya только в тех русских заимствованиях, где я обозначает мягкость предшествующего согласного</td><td>япраҡ = japraq ‘лист’; сентябрь = sentyabry ‘сентябрь’</td>
                </tr>
              </table>
              <br>

              <p class="lead">Фрагменты записанных текстов, в которых произносятся русские слова без каких-либо признаков фонетической или грамматической адаптации, трактовались как случаи переключения кода и отображались в текстах корпуса при помощи кириллицы. В ряде случаев переключение происходит внутри единого высказывания, ср. Məna šulaj itep jäšänek... труд... труд кормил... труд кормил... məna šulaj buldə. ‘Вот так вот мы жили... труд... труд кормил... труд кормил... вот так было’.</p>
            </div>
          </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="instruction">
        <div class="my-auto">
          <h3 class="mb-3">Как пользоваться корпусом</h3>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <p class="lead">В этом разделе описываются инструкции по поиску в Устном корпусе башкирского языка дер. Рахметово и с. Баимово (далее Корпус). Этот Корпус относится к группе корпусов, использующих поисковую платформу <a href="https://bitbucket.org/tsakorpus/tsakonian_corpus_platform/overview" target="_blank">tsakorpus<a>. Инструкция с описанием общих технических возможностей поиска в корпусах этого типа содержится в разделе «Справка» (кнопка с вопросительным знаком в правом верхнем углу страницы поиска). Здесь же описываются правила, специфические для данного Корпуса.</p>
              <p class="lead">На основной странице поиска появляется форма с полями <a class="js-scroll-trigger" href="#word">«Слово»</a>, <a class="js-scroll-trigger" href="#lemma">«Лемма»</a>, <a class="js-scroll-trigger" href="#gramm">«Грамматика»</a> и <a class="js-scroll-trigger" href="#gloss">«Глоссы»</a>.</p>
              <br>

              <h4 class="mb-1">Основные возможности поиска</h4>
              <p class="lead" id="word" style="font-size:1.2rem"><b>Поиск точных форм («Слово»)</b></p>
              <p class="lead">В этом поле можно ввести словоформы, вхождения которых вы хотите найти. Следует помнить, что башкирские тексты записаны в корпусе в <a class="js-scroll-trigger" href="#translit">транслитерации</a>. Например, для поиска всех вхождений формы местного падежа мәктәптә ‘в школе’ существительного мәктәп ‘школа’ нужно задать в поле «Слово» словоформу mäktäptä.</p>
              <p class="lead">Особым образом записаны формы императива (повелительного наклонения): в них после основы (но до личного показателя 2-го лица множественного числа) использован символ Ø, как в следующих примерах:</p>

              <table>
                <tr>
                  <td><b>Запись в корпусе</b></td><td width="150"><b>Орфографическая запись</b></td><td width="200"><b>Запись с разбиением на морфемы</b></td><td><b>Глоссы</b></td><td><b>Перевод</b></td>
                </tr>
                <tr>
                  <td>qaraØ</td><td>ҡара</td><td>qara-Ø</td><td>watch-IMP</td><td>‘смотри’</td>
                </tr>
                <tr>
                  <td>səɣØəɣəð</td><td>сығығыҙ</td><td>səɣ-Ø-əɣəð</td><td>go.out-IMP-2PL</td><td>‘выходите’</td>
                </tr>
              </table>
              <br>

              <p class="lead">Об использовании регулярных выражений и других возможностях поиска по слову см. раздел Справка.</p>
              <br>

              <p class="lead" id="lemma" style="font-size:1.2rem"><b>Поиск лексем («Лемма»)</b></p>
              <p class="lead">Это поле следует использовать для поиска всех форм одного слова (лексемы, леммы). Например, если в это поле вбить слово mäktäp (мәктәп в орфографической записи, ‘школа’), то в поисковой выдаче окажутся все вхождения этого существительного во всех его формах, например, mäktäp ‘школа’, mäktäpte [mäktäp-te, школа-ACC] ‘школу’, mäktäb-e-ndä [mäktäbendä, школа-P.3-LOC] ‘в его школе’ и т.д.</p>
              <p class="lead">Леммы следует вводить в поле поиска в начальной форме, т.е. в той же форме, которая обычно используется в башкирских словарях. Для существительных, прилагательных, наречий, местоимений и числительных выбор начальной формы не вызывает сложностей (например, öj ‘дом’, bäläkäj ‘маленький’, xäðer ‘сейчас’, hin ‘ты’, ike ‘два’). Для глаголов в соответствии с традицией используется форма номинализации на –w, например, ešläw ‘работать’, aləw ‘брать’ и т.д.</p>
              <p class="lead">В Корпусе не проводится различие между словоизменением и словообразованием. В частности, формы, построенные по регулярным словообразовательным моделям, воспринимаются Корпусом как формы производящих лемм. Например, глагол, который в словарях трактуется как лексема eserew ‘поить’, для Корпуса является формой каузатива от глагола esew ‘пить’. Как следствие, по запросу eserew в поле «Лемма» Корпус не выдаст результатов, а по запросу esew будут показаны как формы без показателя каузатива (например, esä ‘пьет’), так и формы с показателем каузатива (например, eserergä ‘чтобы напоить’ и т.д.). Чтобы получить только каузативные формы, можно сузить запрос, воспользовавшись полями <a class="js-scroll-trigger" href="#gramm">«Грамматика»</a> или <a class="js-scroll-trigger" href="#gloss">«Глоссы»</a>. Аналогичные решения приняты и для многих других словообразовательных процессов (см. раздел <a class="js-scroll-trigger" href="#gramm">«Грамматика»</a>).</p>
              <p class="lead">Для записываемых в виде отдельного слова энклитик («частиц»), имеющих алломорфы, определяемые морфонологическими правилами, в качестве основных принимаются варианты la (‘же’; по этому запросу будут найдены и все остальные варианты – da, ða, ta, lä и т.д.) и ɣəna (‘только’; по этому запросу будут получены и варианты genä, qəna и kenä).</p>
              <p class="lead">Для нерегулярных глагольных форм ine, ikän и ihä (грамматикализованные формы глагола ‘быть’) единая лемма не постулируется.</p>
              <br>

              <p class="lead" id="gramm" style="font-size:1.2rem"><b>Грамматика</b></p>
              <p class="lead">Поле «Грамматика» позволяет осуществлять поиск по частям речи и грамматическим категориям. Для того, чтобы воспользоваться этим поиском, необходимо нажать на кнопку в правой части поля «Грамматика» — появится окно-подсказка, в котором можно выбрать необходимые грамматические пометы.</p>
              <p class="lead">Система частей речи, используемая в Корпусе, расшифровывается в следующей таблице.</p>

              <table>
                <tr>
                  <td><b>Условное обозначение</b></td><td><b>Расшифровка</b></td><td><b>Комментарий</b></td>
                </tr>
                <tr>
                  <td>n</td><td>существительное</td><td></td>
                </tr>
                <tr>
                  <td>v</td><td>глагол</td><td>Включая bar ‘имеется’.</td>
                </tr>
                <tr>
                  <td>adj</td><td>прилагательное</td><td>Сюда помещены многие слова, которые в зависимости от контекста могут интерпретироваться как прилагательные или как наречия, например šəm ‘тихий’ или ‘тихо’.</td>
                </tr>
                <tr>
                  <td>adv</td><td>наречие</td><td>В основном сюда причислены слова, которые не могут использоваться как прилагательные, например qapəl ‘вдруг’.</td>
                </tr>
                <tr>
                  <td>num</td><td>числительное</td><td></td>
                </tr>
                <tr>
                  <td>pron</td><td>местоимение</td><td></td>
                </tr>
                <tr>
                  <td>post</td><td>послелог</td><td>Как собственно послелоги Корпус воспринимает только неизменяемые послелоги типа menän ‘с’, həmaq ‘как’. Отыменные послелоги, имеющие в своем составе падежные показатели, анализируются как косвенные формы существительных (например, ald-ə-nda [передняя.часть-P.3-LOC] ‘перед’).</td>
                </tr>
                <tr>
                  <td>conj</td><td>союз</td><td>Как собственно союзы Корпус воспринимает только неизменяемые союзы типа läkin ‘но’. Отглагольные союзы tip и tigän воспринимаются как формы глагола tiew ‘говорить’.</td>
                </tr>
                <tr>
                  <td>part</td><td>частица</td><td>В эту категорию попадают те энклитики, которые в башкирской орфографии записываются как отдельные слова: ɣəna ‘только’, la ‘же’, laha ‘ведь’, uq ‘же, самый’.</td>
                </tr>
                <tr>
                  <td>interj</td><td>междометие</td><td>Так интерпретируются две единицы, ej и nu.</td>
                </tr>
                <tr>
                  <td>word</td><td>другое и неклассифицируемое</td><td>Неструктурированный класс незнаменательных единиц: äje ‘да’, məna ‘это самое’ (слово-заместитель), äjðä ‘айда, давайте’ и т.д.</td>
                </tr>
              </table>
              <br>

              <p class="lead">В разметке Корпуса частеречные пометы (тэги) ассоциируются с первой морфемой в составе словоформы, то есть с корнем. Как следствие, словоформа целиком идентифицируется Корпусом как относящаяся к той части речи, к которой отнесен ее корень. Наличие в словоформе аффиксов, меняющих частеречные свойства, не учитываются. Например, словоформа jäšäw [жить-NMLZ] ‘жизнь’ может быть получена по запросу глагол (v), а не существительное (n), хотя по своим синтаксическим свойствам она ведет себя как существительное.</p>
              <p class="lead">Система грамматических признаков, используемых в Корпусе, представлена в следующей таблице.</p>

              <table>
                <tr>
                  <td><b>Условное обозначение</b></td><td><b>Расшифровка</b></td><td width="150"><b>Основной (-ые) алломорф(ы)</b></td>
                  <td><b>Примеры и комментарии</b></td>
                </tr>
                <tr>
                  <td><b>Число</b></td><td></td><td></td><td></td>
                </tr>
                <tr>
                  <td>pl</td><td>множественное число</td><td>lar</td><td>qəððar ‘девочки’, kitälär ‘пошли’</td>
                </tr>
                <tr>
                  <td><b>Падеж</b></td><td></td><td></td><td></td>
                </tr>
                <tr>
                  <td>unmarked</td><td>начальная форма (имени)</td><td></td><td>Это немаркированная по падежу форма имен; она используется в позиции подлежащего (в функции номинатива), а также в других случаях: немаркированный объект, нереферентное определение и т.д.</td>
                </tr>
                <tr>
                  <td>acc</td><td>винительный</td><td>nə</td><td>malajðə ‘мальчика’, ajaɣən ‘его ногу’, mine ‘меня’</td>
                </tr>
                <tr>
                  <td>gen</td><td>родительный</td><td>nəŋ</td><td>ajaqtarənəŋ ‘их ног’, unəŋ ‘его’</td>
                </tr>
                <tr>
                  <td>abl</td><td>исходный</td><td>nan</td><td>urmandan ‘из леса’</td>
                </tr>
                <tr>
                  <td>dat</td><td>дательный</td><td>ɣa</td><td>handəqqa ‘в сундук’, uɣa ‘ему’, hatərɣa ‘(чтоб) продать’</td>
                </tr>
                <tr>
                  <td>loc</td><td>местный</td><td>la</td><td>qajala ‘на скале’, beððä ‘у нас’</td>
                </tr>
                <tr>
                  <td><b>Притяжательность</b></td><td></td><td></td><td></td>
                </tr>
                <tr>
                  <td>p.1sg</td><td>посессор 1л. ед.ч.</td><td>m</td><td>äsäjemde ‘мою маму’</td>
                </tr>
                <tr>
                  <td>p.1pl</td><td>посессор 1л. мн.ч.</td><td>bəð</td><td>xužabəð ‘наш хозяин’</td>
                </tr>
                <tr>
                  <td>p.2sg</td><td>посессор 2л. ед.ч.</td><td>ŋ</td><td>baqsaŋda ‘в твоем саду’</td>
                </tr>
                <tr>
                  <td>p.2pl</td><td>посессор 2л. мн.ч.</td><td>ɣəð</td><td>kartufəɣəððə ‘вашу картошку’</td>
                </tr>
                <tr>
                  <td>p.3</td><td>посессор 3л.</td><td>ə</td><td>aɣahə ‘его старший брат’</td>
                </tr>
                <tr>
                  <td><b>Наклонение</b></td><td></td><td></td><td></td>
                </tr>
                <tr>
                  <td>imp</td><td>императив</td><td>Ø</td><td>kilØ ‘приходи’, birØegeð ‘дайте’</td>
                </tr>
                <tr>
                  <td>imp.emph</td><td>эмфатический императив</td><td>sə</td><td>alØsə ‘возьми же’</td>
                </tr>
                <tr>
                  <td>hort</td><td>гортатив</td><td>aj</td><td>qarajəq ‘посмотрим-ка’, äjtäjem ‘скажу-ка’</td>
                </tr>
                <tr>
                  <td>juss</td><td>юссив</td><td>hən</td><td>ithen ‘пусть сделает’</td>
                </tr>
                <tr>
                  <td>cond</td><td>условное наклонение</td><td>ha</td><td>eshäŋ ‘если выпьешь’</td>
                </tr>
                <tr>
                  <td><b>Время и финитность</b></td><td></td><td></td><td></td>
                </tr>
                <tr>
                  <td>pst</td><td>прошедшее</td><td>nə</td><td>aldə ‘взял’, inem ‘я был(а)’; в грамматиках «прошедшее определенное»</td>
                </tr>
                <tr>
                  <td>plpf</td><td>плюсквамперфект</td><td>ɣajnə</td><td>barɣajnəm ‘я пошла’</td>
                </tr>
                <tr>
                  <td>pc.pst</td><td>причастие прошедшего времени </td><td>ɣan</td><td>onotqanmən ‘я забыл’, kilgän ‘пришедший’; в грамматиках описывается как личная форма «прошедшего неопределенного» и как причастие / номинализация</td>
                </tr>
                <tr>
                  <td>ipfv</td><td>имперфектив</td><td>a, j</td><td>ešläjheŋ ‘ты работаешь’, jəja ‘собирает, собирая’; финитные и нефинитные употребления формы ipfv в грамматиках трактуются как две омонимичные формы: финитная форма настоящего времени и деепричастие на –a/-j</td>
                </tr>
                <tr>
                  <td>fut</td><td>будущее</td><td>asaq</td><td>səɣasaq ‘выйдет’, kiläsäkkä ‘на будущее’; может использоваться и финитно (в грамматиках «будущее определенное»), и в качестве номинализации</td>
                </tr>
                <tr>
                  <td>pot</td><td>потенциалис</td><td>r</td><td>barərbəð ‘мы пойдем’, ešlärgä ‘(чтоб) делать’; в грамматиках описывается как личная форма «неопределенного будущего» и как номинализация</td>
                </tr>
                <tr>
                  <td>neg.pot</td><td>отрицательная форма потенциалиса</td><td>maθ</td><td>ujanmaθqa ‘(чтоб) не проснуться’; морфологически нерегулярная отрицательная форма потенциалиса</td>
                </tr>
                <tr>
                  <td>ptcp.fut</td><td>причастие будущего времени</td><td>ahə</td><td>ülähe ‘который должен умереть’</td>
                </tr>
                <tr>
                  <td>cv</td><td>основное деепричастие</td><td>p</td><td>haləp ‘положив’</td>
                </tr>
                <tr>
                  <td>cv.ant</td><td>деепричастие предшествования</td><td>ɣas</td><td>kergäs ‘войдя’</td>
                </tr>
                <tr>
                  <td>cv.term</td><td>предельное деепричастие</td><td>ɣansə</td><td>bötkänse ‘пока не закончил’</td>
                </tr>
                <tr>
                  <td>neg.cv.att</td><td>отрицательная деепричастная форма</td><td>majənsa</td><td>halmajənsa ‘не добавляя’</td>
                </tr>
                <tr>
                  <td>desid</td><td>дезидератив</td><td>maqsə</td><td>qərqətmaqsə ‘(хотели) напугать’</td>
                </tr>
                <tr>
                  <td><b>Личные предикативные показатели</b></td><td></td><td></td><td></td>
                </tr>
                <tr>
                  <td>1sg</td><td>личная форма 1л.ед.ч.</td><td>mən, m</td><td>itermen ‘сделаю’ buldəm ‘я был(а)’</td>
                </tr>
                <tr>
                  <td>1pl</td><td>личная форма 1л.мн.ч.</td><td>bəð, q</td><td>jabənabəð ‘надеваем’, hattəq ‘мы продавали’</td>
                </tr>
                <tr>
                  <td>2sg</td><td>личная форма 2л.ед.ч.</td><td>həŋ, ŋ</td><td>ašajhəŋ ‘ты ешь’, səqtəŋmə ‘ты вышла?’</td>
                </tr>
                <tr>
                  <td>2pl</td><td>личная форма 2л.мн.ч.</td><td>həɣəð, ɣəð</td><td>hawməhəɣəð ‘здравствуйте’, birðegeð ‘вы сдали’</td>
                </tr>
                <tr>
                  <td><b>Отрицание</b></td><td></td><td></td><td></td>
                </tr>
                <tr>
                  <td>neg</td><td>отрицание</td><td>ma</td><td>onotmajðar ‘не забывают’</td>
                </tr>
                <tr>
                  <td><b>Иллокутивные маркеры</b></td><td></td><td></td><td></td>
                </tr>
                <tr>
                  <td>q</td><td>вопросительная частица</td><td>mə</td><td>beläŋme ‘ты знаешь?’</td>
                </tr>
                <tr>
                  <td><b>Деривация существительных</b></td><td></td><td></td><td>эсеү = esew ‘пить’</td>
                </tr>
                <tr>
                  <td>ag</td><td>имя деятеля</td><td>sə</td><td>hunarsə ‘охотник’</td>
                </tr>
                <tr>
                  <td>nmlz</td><td>номинализация</td><td>w, ləq, ɣə</td><td>uqəw ‘учение’, jaqšələq ‘добро’, joqlaɣə (kilmäj) ‘(не хочется) спать’</td>
                </tr>
                <tr>
                  <td>poss.subst</td><td>безвершинный генитив</td><td>nəqə</td><td>uqəwsənəqə ‘у ученика’, Räxmättekelär ‘рахметовские’</td>
                </tr>
                <tr>
                  <td><b>Деривация прилагательных и наречий</b></td><td></td><td></td><td></td>
                </tr>
                <tr>
                  <td>car</td><td>каритив</td><td>həð</td><td>isemhəð ‘безымянный’</td>
                </tr>
                <tr>
                  <td>cmpr</td><td>сравнительная степень</td><td>raq</td><td>tiðeräk ‘(по)быстрее’</td>
                </tr>
                <tr>
                  <td>simil</td><td>приблизительность</td><td>laj</td><td>jəldaj ‘около года’</td>
                </tr>
                <tr>
                  <td>intens</td><td>интенсивность</td><td>частичная редупликация</td><td>hap-haw ‘здоровый-прездоровый’</td>
                </tr>
                <tr>
                  <td><b>Деривация числительных</b></td><td></td><td></td><td></td>
                </tr>
                <tr>
                  <td>approx</td><td>приблизительное количество</td><td>laɣan</td><td>utəðlaɣan ‘примерно 30’</td>
                </tr>
                <tr>
                  <td>coll</td><td>собирательность</td><td>lap</td><td>kümäkläp ‘все вместе’</td>
                </tr>
                <tr>
                  <td>distr</td><td>дистрибутив</td><td>ar</td><td>berär ‘по одному’</td>
                </tr>
                <tr>
                  <td>num.subst</td><td>безвершинное числительное</td><td>aw</td><td>dürtäwe ‘четверо’</td>
                </tr>
                <tr>
                  <td>ord</td><td>порядковое числительное</td><td>nsə</td><td>ikense ‘другой, второй’</td>
                </tr>
                <tr>
                  <td><b>Глагольная деривация</b></td><td></td><td></td><td></td>
                </tr>
                <tr>
                  <td>caus</td><td>каузатив</td><td>t, dər, r, kər, qað</td><td>jörötä ‘носит’, kilterðe ‘вернула’</td>
                </tr>
                <tr>
                  <td>pass</td><td>пассив</td><td>l, n</td><td>atala ‘называется’</td>
                </tr>
                <tr>
                  <td>refl</td><td>рефлексив</td><td>n</td><td>kejenä ‘одевается’</td>
                </tr>
                <tr>
                  <td>recp</td><td>реципрок</td><td>š</td><td>höjläšälär ‘разговаривают’</td>
                </tr>
              </table>
              <br>

              <p class="lead">Примечание. По техническим причинам поиск по «грамматике» не позволяет найти слова со следующими аффиксами:</p>

               <table>
                <tr>
                  <td><b>Условное обозначение</b></td><td><b>Расшифровка</b></td><td><b>Основные алломорфы</b></td>
                  <td><b>Примеры</b></td>
                </tr>
                <tr>
                  <td>maybe</td><td>частица неопределенности</td><td>dər</td><td>bulmaɣandər ‘видимо, не было’, kemder ‘кто-то’</td>
                </tr>
                <tr>
                  <td>adj</td><td>адъективатор</td><td>lə, ɣə</td><td>aldaɣə ‘предстоящий’, belemle ‘знающий’</td>
                </tr>
                <tr>
                  <td>adv</td><td>адвербиализатор</td><td>sa</td><td>bašqortsa ‘по-башкирски’</td>
                </tr>
              </table>
              <br>

              <p class="lead">Для того чтобы найти словоформы с этим аффиксами, можно воспользоваться поискам по <a class="js-scroll-trigger" href="#gloss">глоссам</a>.</p>
              <br>

              <p class="lead" id="gloss" style="font-size:1.2rem"><b>Глоссы</b></p>
              <p class="lead">Поиск по глоссам позволяет создавать запросы, касающиеся морфемной структуры словоформ. В целом этот способ поиска открывает примерно те же возможности, что и поиск по грамматике. В частности, во всплывающем окне, вызываемом кнопкой рядом с полем «глоссы», приводится почти тот же список показателей, что и при поиске по грамматике.</p>
              <p class="lead">Общие принципы работы поиска по глоссам и основные отличия такого поиска от поиска по грамматике приводятся в разделе «Справка» (кнопка с вопросительным знаком в правом верхнем углу страницы поиска). Здесь дополнительно перечисляются особенности поиска по глоссам, специфические для данного Корпуса.</p>
              <p class="lead">1) Используя поиск по глоссам, можно найти словоформы, содержащие некоторые морфемы, которые не позволяет искать поиск по грамматике:</p>

               <table>
                <tr>
                  <td><b>Условное обозначение</b></td><td><b>Расшифровка</b></td><td><b>Основные алломорфы</b></td>
                  <td><b>Примеры</b></td>
                </tr>
                <tr>
                  <td>maybe</td><td>частица неопределенности</td><td>dər</td><td>bulmaɣandər ‘видимо, не было’, kemder ‘кто-то’</td>
                </tr>
                <tr>
                  <td>adj</td><td>адъективатор</td><td>lə, ɣə</td><td>aldaɣə ‘предстоящий’, belemle ‘знающий’</td>
                </tr>
                <tr>
                  <td>adv</td><td>адвербиализатор</td><td>sa</td><td>bašqortsa ‘по-башкирски’</td>
                </tr>
              </table>
              <br>

              <p class="lead">2) При поиске по глоссам не находятся такие словоформы, при глоссировании которых релевантные части словоформ не членятся на морфемы. Например, словоформа дательного падежа местоимения hin ‘ты’ выглядит как hiŋä, не членится на морфемы и глоссируется целиком как ты.DAT. Эта словоформа попадает в выдачу по грамматическому запросу «dat», но при поиске по глоссам она не попадает в выдачу по запросу «STEM-DAT».</p>
              <p class="lead">3) При записи формул строения словоформ можно воспользоваться такими элементами, как CASE, POSS и FINIT. Каждый из них соответствует не конкретной морфеме, а группе морфем. CASE — любой показатель падежа, POSS — любой притяжательный показатель, FINIT — любой показатель финитности или нефинитности на глаголе (POT, IPFV, PC.PST, CV и т.д.). Например, по запросу STEM-PL-POSS можно найти все словоформы, где к основе присоединяется сначала показатель множественного числа, а потом какой-то показатель притяжательности (например, bala-lar-ə [ребенок-PL-P.3] ‘их дети / их ребенок / его дети / ее дети’), а по запросу STEM-POSS-PL можно найти словоформы, где показатели притяжательности и числа идут в обратном порядке (например, ataj-əm-dar [отец-P.1SG-PL] ‘мои родители’).</p>
              <br>

              <p class="lead" style="font-size:1.2rem"><b>Перевод</b></p>
              <p class="lead">При помощи этих полей возможен поиск словоформ в соответствие с русским / английским переводом соответствующих лемм. Например, по запросу «уходить» в поле «Перевод (ru)» выдаются все употребления глагола kitew, корень которого глоссируется в корпусе как «уходить». Поиск по переводу не позволяет искать русские или английские словоформы, использованные в переводах башкирских предложений. Например, при помощи этой функции нельзя найти все предложения, в переводах которых используется словоформа «ушли». Чтобы найти такие предложения, необходимо воспользоваться полнотекстовым поиском.</p>
              <br>

              <p class="lead" style="font-size:1.2rem"><b>Дополнительные возможности поиска</b></p>
              <p class="lead">Параметры поиска, связанные с говорящим, с которым записан текст, устроены по принципу выпадающих окон, в которых перечислены все встретившиеся в Корпусе значения параметров. Например, в поле «Место рождения» перечислены все места, в которых родились те говорящие, с которыми записаны тексты Корпуса.</p>
              <p class="lead">Все остальные параметры поиска (полнотекстовый поиск, поиск предложений / слов / лексем, выбор подкорпуса, одновременное использование нескольких полей, использование поиска по нескольким словоформам и т.д.) не имеют особенностей, характерных только для башкирского Корпуса.</p>

            </div>
          </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="consist">
        <div class="my-auto">
          <h3 class="mb-3">Состав корпуса</h3>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <p class="lead"><b>Общие сведения.</b> В корпусе содержится 92 текста общей продолжительностью чуть более 5 часов, объем корпуса около 25000 слов.</p>

              <p class="lead"><b>Социолингвистические характеристики.</b> Тексты корпуса были записаны от 37 носителей разных поколений, от 1928 до 2005 г.р. Распределение текстов по годам рождения носителей показано в таблице.</p>

              <table>
                <tr>
                  <td><b>Год рождения</b></td><td><b>Количество носителей</b></td><td><b>Продолжительность текстов</b></td>
                </tr>
                <tr>
                  <td>1928–1940</td><td align="center">5</td><td align="center">29</td>
                </tr>
                <tr>
                  <td>1941–1950</td><td align="center">5</td><td align="center">93</td>
                </tr>
                <tr>
                  <td>1951–1960</td><td align="center">8</td><td align="center">72</td>
                </tr>
                <tr>
                  <td>1961–1970</td><td align="center">8</td><td align="center">42</td>
                </tr>
                <tr>
                  <td>1971–1980</td><td align="center">4</td><td align="center">34</td>
                </tr>
                <tr>
                  <td>1981–1900</td><td align="center">1</td><td align="center">7</td>
                </tr>
                <tr>
                  <td>1991–2000</td><td align="center">4</td><td align="center">13</td>
                </tr>
                <tr>
                  <td>2001–2005</td><td align="center">2</td><td align="center">11</td>
                </tr>
              </table>

              <br>

              <p class="lead"><b>Жанровый состав.</b> В основном в корпус входят полуспонтанные монологические тексты, незначительную долю составляют диалоги. В таблице ниже отражен жанрово-тематический состав текстов в минутах записей.</p>

              <table>
                <tr>
                  <td><b>Жанр</b></td><td><b>Продолжительность текстов</b></td>
                </tr>
                <tr>
                  <td>Описания ритуалов, рецепты, инструкции</td><td align="center">79</td>
                </tr>
                <tr>
                  <td>(Авто)биографии</td><td align="center">72</td>
                </tr>
                <tr>
                  <td>Истории из жизни</td><td align="center">55</td>
                </tr>
                <tr>
                  <td>Легенды и сказки</td><td align="center">48</td>
                </tr>
                <tr>
                  <td>Размышления и другие ненарративные монологи</td><td align="center">29</td>
                </tr>
                <tr>
                  <td>Пересказы фильмов</td><td align="center">18</td>
                </tr>
                <tr>
                  <td>Диалоги</td><td align="center">7</td>
                </tr>
              </table>

            </div>
          </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="authors">
        <div class="my-auto">
          <h3 class="mb-3">Создатели</h3>
          <p class="lead" align="justify">Тексты были подготовлены к публикации в виде корпуса в 2017 г. при поддержке гранта <a href='https://ilcl.hse.ru' target="_blank">Международной лаборатории языковой конвергенции<a> <a href='https://hse.ru' target="_blank">НИУ ВШЭ<a>. В этом гранте принимали участие:</p>
              <p class="lead">Екатерина Сергеевна Аплонова<br>
              <a href='https://iling.spb.ru/grammatikon/ovs_pub.html' target="_blank">Мария Александровна Овсянникова<a><br>
              <a href='https://iling.spb.ru/typo/people/say/index.html.ru' target="_blank">Сергей Сергеевич Сай<a><br>
              Анна Сергеевна Сметина</p>

      <p class="lead">Значительная часть текстов, вошедших в корпус, были записаны и расшифрованы в 2011–2016 гг. участниками экспедиций в дер. Рахметово и с. Баимово. Эти экспедиции были организованы сотрудниками кафедры общего языкознания СПбГУ и Института лингвистических исследований РАН при поддержке Института истории, языка и литературы Уфимского научного центра РАН. Вклад в пополнение и обработку текстов корпуса внесли следующие участники экспедиций: М. А. Овсянникова, С. С. Сай, Е. С. Аплонова, А. С. Сметина, С. А. Оскольская, В. А. Генералова, А. В. Выдрина, Е. Н. Сергеева, Д. Ф. Мищенко, О. В. Кузнецова, А. А. Горлова, М. Л. Федотов, Е. В. Перехвальская, М. Д. Балтайс, Е. А. Ромицына, С. А. Павлова, К. А. Байда (Иванова), Р. В. Ронько, А. М. Севастьянова (Шестакова), М. А. Горшкова, И. К. Учитель, Е. В. Востокова.</p>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contacts">
        <div class="my-auto">
          <h3 class="mb-3">Контакты</h3>
          <p class="lead">По содержательным вопросам:<br>
          Мария Александровна Овсянникова: masha.ovsjannikova@gmail.com<br>
          Сергей Сергеевич Сай: serjozhka@yahoo.com</p>

          <p class="lead">По техническим вопросам:<br>
          <a href="https://www.hse.ru/org/persons/160997992" target="_blank">Елена Олеговна Сокур</a>: elena.o.sokur@gmail.com</p>
        </div>
      </section>

      <hr class="m-0">

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/resume.min.js"></script>

  </body>

</html>
